<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    {{text}}
  </p>
  {{!-- <input type="hidden" name="post-id" id= "post-id" value="{{id}}"> --}}
  <form class="form new-comment-form">
    <div class="form-group">
      <label for="blog-comment">add a comment</label>
      <input class="form-input" type="text" id="blog-comment" name="blog-comment">
    </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="comment-submit-btn">submit</button>
  </div>
  </form>
  
  <div>
    {{#if comments.length}}
    <h3>Comments:</h3>

      {{#each comments as |comment|}}
      <div>
        <p>{{comment.text}}</p>
        <p>Posted by: {{user.name}}</p>
      </div>
      {{/each}}
    {{else}}
      <div>
        <p>No comments yet</p>
      </div>
    {{/if}}
  </div>
</div>

<script src="/js/comment.js"></script>
